@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
	background-image: url('img/logo.jpg');
	background-size: cover;	
	font-size: 1.2rem;
	color: lightblue;	
}

h1{
	font-family: 'Lobster', cursive;
}

