header{
    background-color: orange;
    font-size: 20pt;
    padding: 20px;   
}

input{
    position: relative;
    left: 1000px;
    width: 140px;
    height: 32px;
}

section{
    margin-top: 20px;
}

img{
    width: 200px;
    height: 200px;    
}

figcaption{
    border: 1px solid;
    width: 200px;
}

div{
    display: flex;
}

@media screen and (max-width: 600px){
    div{
        display: grid;
    }
}